section.apply
	img(src="../../images/img-hr.png", alt="").apply-image-left
	.container
		.apply-content
			.apply-text
				p.apply-subtitle Start your courses! 
					span Try now for free
				h3.apply-title Are you ready to work faster?
			.apply-wrapper-form
				form(action="").apply-form
					h3.apply-form-title apply now
					input(type="text", placeholder="First Name").apply-input.apply-input--fname
					input(type="text", placeholder="Last Name").apply-input.apply-input--lname
					input(type="email", placeholder="E-mail Address").apply-input.apply-input--email
					input(type="password", placeholder="Choose Password").apply-input.apply-input--password
					input(type="password", placeholder="Confirm Password").apply-input.apply-input--confirm
					.apply-policy 
						input( type="checkbox", id="checkbox", name="checkbox").apply-input--checkbox
						label(for="checkbox").apply-label--checkbox I agree with the terms and conditions		
					.apply-call
						button.apply-submit Apply Now
						.apply-phone
							p or call us
							a(href="tel:049 123 456 789") +49 123 456 789
					a(href="").apply-login I already have an account
	img(src="../../images/img-hr2.png", alt="").apply-image-right