section.career
	.container
		.career-list
			.career-item
				img(src="./images/img-career-1.png", alt="").career-icon
				p.career-text Engineering
			.career-item
				img(src="./images/img-career-2.png", alt="").career-icon
				p.career-text Accounting
			.career-item
				img(src="./images/img-career-3.png", alt="").career-icon
				p.career-text Creative
			.career-item
				img(src="./images/img-career-4.png", alt="").career-icon
				p.career-text Design
			.career-item
				img(src="./images/img-career-5.png", alt="").career-icon
				p.career-text Physics
			.career-item
				img(src="./images/img-career-6.png", alt="").career-icon
				p.career-text Chemistry


