section.department
	.container
		.department-head 
			h3.department-head-title our department
			h5.department-head-desc A hundred thousand grateful loves to your dear papa and mamma. Is your poor brother recovered of his rack-punch? Oh, dear! Oh, dear! How men should beware of wicked punch!
		.department-list 
			.department-item
				.department-item-thumb 
					img(src="../../images/img-departerment-1.png", alt="")
				h4 Online education
			.department-item
				.department-item-thumb 
					img(src="../../images/img-departerment-2.png", alt="")
				h4 Online education
			.department-item
				.department-item-thumb 
					img(src="../../images/img-departerment-3.png", alt="")
				h4 Online education

