footer.footer
		.footer-wrapper
			.container 
				.footer-top
					.footer-intro
						a.footer-logo(href="/")
							img(src="../../images/img-logo-footer.png", alt="")
						p.footer-desc Edumodo focuses on creating magnificent education websites with ease. Take the lead in the race with Learned. 
						.footer-socials 
							a(href="").footer-socials-icon
								i.fab.fa-twitter
							a(href="").footer-socials-icon
								i.fab.fa-invision
							a(href="").footer-socials-icon
								i.fab.fa-facebook-square
							a(href="").footer-socials-icon
								i.fab.fa-skype
							a(href="").footer-socials-icon
								i.fab.fa-pinterest-square
							a(href="").footer-socials-icon
								i.fab.fa-apple
					.footer-featured
						h3.footer-title FEATURED PROGRAMS
						p.footer-featured-learning Fixed responsive issue 
							span - Just Now
						p.footer-featured-learning New portfolio grid layout 
							span - Today
						p.footer-featured-learning Tested &#38; approved WP 3.6 
							span - 5 Hours Ago
						p.footer-featured-learning Fixed google map issue 
							span - Yesterday
					.footer-learning
						h3.footer-title learning
						p.footer-featured-learning Our Plans
						p.footer-featured-learning Free Trial
						p.footer-featured-learning Academic Solutions
						p.footer-featured-learning Business Solutions
					.footer-form
						h3.footer-title support forum 
						p.footer-form-desc Write your email into below field and join our quick support forum.
						form.footer-input-button
							input(type="email", placeholder="Email address")
							button(type="submit") get help
		.footer-copyright
			.container
				.footer-copyright-wrapper
					span.footer-copyright-text Copyright © 2019 Learned
					ul.footer-copyright-menu 
						li.footer-copyright-item
							a.footer-copyright-link Site Map
						li.footer-copyright-item
							a.footer-copyright-link Privacy Policy
						li.footer-copyright-item
							a.footer-copyright-link Website Use Policy
						li.footer-copyright-item
							a.footer-copyright-link Cookie Policy

