header.header
	.container
		.header-top
			a.header-logo(href="#")
				img.logo(src="../../images/logo.png", alt="")
			i.fa.fa-bars.header-icon-toggle
			ul.header-menu
				li.header-menu-item.active
					a.header-menu-link(href="/") Study
				li.header-menu-item
					a.header-menu-link(href="/") About us
				li.header-menu-item
					a.header-menu-link(href="/") Admission
				li.header-menu-item
					a.header-menu-link(href="/") Pages
				li.header-menu-item
					a.header-menu-link(href="/") News
				li.header-menu-item
					a.header-menu-link(href="/") Contact
				li.header-menu-item
					button.header-menu-button Apply now
		.block-box
			h2.block-box-title Innovation for education and society
			h3.block-box-slogan Our interdisciplinary majors and minors mean you can your own course for academic success.
			button.block-box-button Visit our Campus