section.limit
	.limit-wrapper 
		.container
			.limit-inner
				.limit-video
					a.limit-video-thumb
						img(src="../../images/img-leaf-video.png", alt="").limit-video-leaf
						img(src="../../images/img-bg-video.png", alt="").limit-video-img
						i.limit-video-icon.fas.fa-play
				.limit-content 
					.limit-block-box
						h2.limit-block-box-title Limitless learning, more possibilities
						h3.limit-block-box-slogan The University of Rochester is one of the country's top-tier research universities. Our campuses are home to 200 academic majors, more than 2,000 faculty and instructional staff, and some 10,000 students—approximately half of whom are women.
						h3.limit-block-box-slogan Learning at the University of Rochester is also on a very personal scale. Rochester remains one of the smallest and most collegiate among top research universities, with smaller classes, a low 10:1 student to teacher ratio, and increased interactions with faculty.
					.limit-list
						.limit-item 
							p.limit-number 4000 
							p.limit-text Students 
						.limit-item 
							p.limit-number 260 
							p.limit-text Courses 
						.limit-item 
							p.limit-number 5670 
							p.limit-text Hours video
