section.news 
	.container 
		.news-head 
			.news-head-left
				h4.news-title Our University News
				p.news-subtitle A hundred thousand grateful loves to your dear papa and mamma. Is your poor brother recovered of his rack-punch? Oh, dear! Oh, dear! How men should beware of wicked punch!
			.news-head-right
				button.news-all All news post
		.news-list
			.news-item 
				h3.news-name Out of the Darkness
				p.news-desc Now the races of these two have been for some ages utterly extinct, and besides to discourse any further of them would not be at all to my purpose.
				.news-other 
					.news-interactive
						i.fa.fa-heart.news-icon
						span.news-num-heart.active 21
						i.fas.fa-comment-dots.news-icon
						span 50
					span.news-date 5 November
			.news-item 
				h3.news-name Out of the Darkness
				p.news-desc Now the races of these two have been for some ages utterly extinct, and besides to discourse any further of them would not be at all to my purpose.
				.news-other 
					.news-interactive
						i.fa.fa-heart.news-icon.active
						span.news-num-heart 21
						i.fas.fa-comment-dots.news-icon
						span 50
					span.news-date 5 November
			.news-item 
				h3.news-name Tears for my Mom
				p.news-desc Now the races of these two have been for some ages utterly extinct, and besides to discourse any further of them would not be at all to my purpose.
				.news-other 
					.news-interactive
						i.fa.fa-heart.news-icon
						span.news-num-heart 21
						i.fas.fa-comment-dots.news-icon
						span 50
					span.news-date 5 November
			.news-item 
				h3.news-name How the internet is uniting the world
				p.news-desc Now the races of these two have been for some ages utterly extinct, and besides to discourse any further of them would not be at all to my purpose.
				.news-other 
					.news-interactive
						i.fa.fa-heart.news-icon
						span.news-num-heart 21
						i.fas.fa-comment-dots.news-icon.active
						span 50
					span.news-date 5 November
			