section.university
	h2.university-title  Around the University
	.container 
		.university-list
			.university-item
				a.university-img
					img(src="../../images/img-university-1.png", alt="")
				.university-content
					.university-content-top 
						a.university-name Photoshop CC 2018 Essential Training: The Basics
						a.university-cate Graphics Design
					a.university-keep Keep reading...
			.university-item
				a.university-img
					img(src="../../images/img-university-2.png", alt="")
				.university-content
					.university-content-top 
						a.university-name Get Started Coding Android Apps With Kotlin
						a.university-cate Global System
					a.university-keep Keep reading...
			.university-item
				a.university-img
					img(src="../../images/img-university-3.png", alt="")
				.university-content
					.university-content-top 
						a.university-name Create Turntable Animations With Cinema 4D
						a.university-cate Computer & Information Technology
					a.university-keep Keep reading...
			.university-item
				a.university-img
					img(src="../../images/img-university-4.png", alt="")
				.university-content
					.university-content-top 
						a.university-name A Beginner’s Guide to the New Bootstrap 4 Grid
						a.university-cate Web Development
					a.university-keep Keep reading...
			.university-item
				a.university-img
					img(src="../../images/img-university-5.png", alt="")
				.university-content
					.university-content-top 
						a.university-name A Designer’s Guide to Vue.js Components
						a.university-cate Art Deperments
					a.university-keep Keep reading...
			.university-item
				a.university-img
					img(src="../../images/img-university-6.png", alt="")
				.university-content
					.university-content-top 
						a.university-name Code a Swift App With Realm Mobile Database
						a.university-cate Music
					a.university-keep Keep reading...
			.university-item
				a.university-img
					img(src="../../images/img-university-7.png", alt="")
				.university-content
					.university-content-top 
						a.university-name 10 Essential Design Tips in Adobe Illustrator
						a.university-cate Technology Information
					a.university-keep Keep reading...
			.university-item
				a.university-img
					img(src="../../images/img-university-8.png", alt="")
				.university-content
					.university-content-top 
						a.university-name Modern PHP From The Beginning
						a.university-cate Data Science
					a.university-keep Keep reading...