.header {
  background: url("../images//Background.png") no-repeat center/cover;
  height: 102.5rem;
  &-top {
    padding-top: 2.5rem;
    @include flexBox(center, space-between);
  }
  &-icon-toggle {
    display: none;
    color: $primary-color;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 5.5rem;
    right: 2.5rem;
  }
  &-menu {
    @include flexBox(center);
  }
  &-menu-link {
    padding: 1.5rem 2.5rem;
    color: $text-color;
    transform: all 0.25s;
    display: block;
    margin-top: -5px;
    &:hover {
      color: $primary-color;
    }
  }
  &-menu-item.active {
    .header-menu-link {
      color: $primary-color;
      font-weight: bold;
      text-decoration: underline;
    }
  }
  &-menu-button {
    color: $primary-color;
    font-weight: 400;
    font-size: 1.6rem;
    background-color: #fff;
    border: none;
    padding: 1.1rem 2.5rem;
    border-radius: 3rem;
    transition: all 0.25s;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 4.4rem;
    &:hover {
      color: #fff;
      background-color: $primary-color;
    }
  }
  .block-box {
    max-width: 50%;
    padding-top: 19rem;
    padding-right: 5rem;
    &-title {
      color: $primary-color;
      font-size: 4rem;
      font-family: $secondary-font;
      font-weight: bold;
      line-height: 5.6rem;
      padding-bottom: 1.2rem;
    }
    &-slogan {
      font-size: 1.8rem;

      padding-bottom: 3.5rem;
      line-height: 26px;
    }
    &-button {
      font-size: 1.8rem;
      color: #fff;
      background: $primary-color;
      width: 21.7rem;
      height: 5.6rem;
      text-align: center;
      border-radius: 3rem;
      transition: all 0.25s;
      border: 1px solid transparent;
      &:hover {
        background-color: #fff9f3;
        color: $primary-color;
        border-color: $primary-color;
      }
    }
  }
  @include maxWidth(1024px) {
    background-position: 70%;
    height: 70rem;
    &-menu-link {
      padding: 1.5rem 1rem;
    }
    &-menu-button {
      padding: 1rem 1.5rem;
    }
    .block-box {
      padding-top: 10rem;
      &-slogan {
        color: #333;
      }
    }
  }
  @include maxWidth(767px) {
    .container {
      padding: 0;
    }
    &-top {
      display: block;
      position: relative;
      padding-top: 0;
    }
    &-logo {
      display: block;
      margin-bottom: 1rem;
      padding: 2.5rem 1.5rem 0 1.5rem;
    }
    &-menu {
      width: 100%;
      height: auto;
      display: block;
      z-index: 10;
      background: #fbd6aa;
      padding: 2rem 2.5rem;
      transform: translateY(-120%);
      opacity: 0;
      height: 0;
      padding: 0;
      transition: all 0.25s ease-in;
      position: absolute;
    }
    &-menu.is-expand {
      height: auto;
      padding: 2rem 2.5rem;
      transform: translateY(0);
      opacity: 1;
    }
    &-menu-link {
      padding: 1.5rem 0 1.5rem;
      border-bottom: 1px solid #fff;
      color: #fff;
      display: block;
    }
    &-menu-item.active {
      .header-menu-link {
        color: #e68b20;
      }
    }
    &-menu-icon {
      padding: 1.5rem 0 1.5rem;
      display: block;
    }
    &-icon-toggle {
      display: block;
    }

    .block-box {
      padding: 7rem 1.5rem 0 1.5rem;
      max-width: 100%;
      &-title {
        font-size: 3rem;
      }
      &-slogan {
        color: #333;
      }
    }
    &-menu-button {
      padding: 0.2rem 1.5rem;
      margin-top: 2rem;
      height: 3.5rem;
    }
  }
  @include maxWidth(360px) {
    &-menu {
      padding: 1.5rem 2rem;
    }
    .block-box {
      padding-top: 5rem;
      &-title {
        font-size: 3rem;
      }
      &-button {
        font-size: 1.6rem;
        padding: 1.5rem 3rem;
      }
    }
  }
}

.home-page2 {
  .block-box {
    margin: 0 auto;
    padding-top: 30.5rem;
    margin-left: 39rem;
  }
  .header {
    background: url("../images//Background2.png") no-repeat center/cover;
    height: 1180px;
    @include maxWidth(1024px) {
      height: 55rem;
      background-size: contain;
      .block-box {
        max-width: 83%;
        padding-right: 0;
        padding-top: 10rem;
      }
    }
    @include maxWidth(767px) {
      .block-box {
        max-width: 100%;
        height: 52rem;
        padding: 0;
        margin: 8rem;
      }
      &-menu {
        background-color: #69cf96;
        position: absolute;
        z-index: 999;
      }
      &-menu-item.active {
        .header-menu-link {
          color: #204a33;
        }
      }
    }
    @include maxWidth(420px) {
      .block-box {
        margin: 2rem;
      }
    }
  }
}
