extends layout/layout

block vars
	-title = 'Home page 2'
	-cssLink = 'styles/styles2.css'
	-bodyClass = 'home-page2'

block container
	include blocks/career
	include blocks/limit
	include blocks/apply
	include blocks/news