extends layout/layout

block vars
	-title = 'Home page a'
	-cssLink = 'styles/styles.css'
	-bodyClass = 'home-page'

block container
	include blocks/department
	include blocks/limit
	include blocks/university